[submodule "services/cloudflare-ddns"]
	path = services/cloudflare-ddns
	url = git@github.com:Jaewoook/cloudflare-ddns
[submodule "services/for_jaewook_bot"]
	path = services/for_jaewook_bot
	url = git@github.com:Jaewoook/for_jaewook_bot.git
